version: '3.7'

services:
  social-release:
    image: omab/social-core-release
    build:
      context: .
      dockerfile: ./files/release/Dockerfile
    environment:
    - PROJECT_NAME=social-auth-core
    env_file:
    - ./files/local.env
    volumes:
    - .:/code

  social-tests:
    image: omab/social-core-tests
    build:
      context: .
      dockerfile: ./files/tests/Dockerfile
      args:
      - PYTHON_VERSIONS=3.8.17 3.9.17 3.10.12 3.11.4 3.12.0
    environment:
    - PYTHON_VERSIONS=3.8.17 3.9.17 3.10.12 3.11.4 3.12.0
    volumes:
    - .:/code
