name: Tests

on:
  push:
  pull_request:
  schedule:
  - cron: 0 0 * * 0

permissions:
  contents: read

jobs:
  types:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - '3.10'
        - '3.14'
    env:
      PYTHON_VERSION: ${{ matrix.python-version }}
      PYTHONUNBUFFERED: 1

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - name: Set up Python ${{ matrix.python-version }}
      id: setup_python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}

    - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      with:
        cache-suffix: ${{ steps.setup_python.outputs.python-version }}

    - name: Install System dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -qq -y --no-install-recommends libxmlsec1-dev

    - name: Type check with tox
      run: uvx tox -e "py${PYTHON_VERSION/\./}-pyright"

  test:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'
    env:
      PYTHON_VERSION: ${{ matrix.python-version }}
      PYTHONUNBUFFERED: 1

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - name: Set up Python ${{ matrix.python-version }}
      id: setup_python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}

    - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      with:
        cache-suffix: ${{ steps.setup_python.outputs.python-version }}

    - name: Install System dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -qq -y --no-install-recommends libxmlsec1-dev swig

    - name: Test with tox
      run: uvx tox -e "py${PYTHON_VERSION/\./}"

    - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
      with:
        flags: unittests
        name: Python ${{ matrix.python-version }}
        token: ${{secrets.CODECOV_TOKEN}}
