name: Tests

on:
  push:
  pull_request:
  schedule:
  - cron: 0 0 * * 0

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'
    env:
      PYTHON_VERSION: ${{ matrix.python-version }}
      PYTHONUNBUFFERED: 1

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Set up Python ${{ matrix.python-version }}
      id: setup_python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: ${{ matrix.python-version }}

    - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      with:
        cache-suffix: ${{ steps.setup_python.outputs.python-version }}

    - name: Install System dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -qq -y --no-install-recommends libxmlsec1-dev

    - name: Test with tox
      run: uvx tox -e "py${PYTHON_VERSION/\./}"

    - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
      with:
        flags: unittests
        name: Python ${{ matrix.python-version }}
        token: ${{secrets.CODECOV_TOKEN}}
