name: Type check

on: [push, pull_request]

permissions:
  contents: read

jobs:
  ty:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Set up Python
      id: setup_python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: 3.14

    - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      with:
        cache-suffix: ${{ steps.setup_python.outputs.python-version }}

    - name: Install System dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -qq -y --no-install-recommends libxmlsec1-dev

    - name: Type check ty
      run: uv run --all-extras ty check --output-format=github

  pyright:
    runs-on: ubuntu-24.04
    env:
      PYTHONUNBUFFERED: 1

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Set up Python
      id: setup_python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: 3.14

    - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      with:
        cache-suffix: ${{ steps.setup_python.outputs.python-version }}

    - name: Install System dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -qq -y --no-install-recommends libxmlsec1-dev

    - name: Type check with pyright
      run: uv run --all-extras pyright
