name: Type check

on: [push, pull_request]

permissions:
  contents: read

jobs:
  types:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false

    - name: Set up Python
      id: setup_python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: 3.14

    - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        cache-suffix: ${{ steps.setup_python.outputs.python-version }}

    - name: Install System dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -qq -y --no-install-recommends libxmlsec1-dev swig

    - name: Type check ty
      run: uv run --all-extras ty check --output-format=github
